[bumpversion]
current_version = 2.1.10
commit = True
tag = False
serialize = {major}.{minor}.{patch}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:manga-dlp.py]
search = MDLP_VERSION = "{current_version}"
replace = MDLP_VERSION = "{new_version}"

[bumpversion:file:mangadlp/input.py]
search = MDLP_VERSION = "{current_version}"
replace = MDLP_VERSION = "{new_version}"

[bumpversion:file:.woodpecker/test_docker.yml]
search = BUILD_VERSION={current_version}
replace = BUILD_VERSION={new_version}

[bumpversion:file:.woodpecker/test_release.yml]
search = {current_version}
replace = {new_version}
